<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/userPage.css" />
  <title><%= username %></title>
  <script>
    const userId = '<%= id %>' // ---------> Getting the user Id (used in userPage.js)
  </script>
</head>


<body>
  
  <header class="header">
    <!-- Website Title -->
    <div class="header-title">
      <h1>To-Do-Web</h1>
    </div>

    <!-- Navbar -->
    <nav class="navbar">
      <button class="nav-button" onclick="navigateTo('create-task')">Create Task</button>
      <button class="nav-button" onclick="navigateTo('teams')">Teams</button>
      <button class="nav-button" onclick="navigateTo('user')">User</button>
    </nav>

    <!-- Logout Button -->
    <div class="logout">
      <button id="logout-button">Logout</button>
    </div>
  </header>
  
  <div class="wrapper"></div>

    <!-- output list -->
    <div id="taskContainer">
  </div>

  <footer>
    <form class="new-item-form">
      <div class="field">
        <label>date:</label>
        <input type="date" id="date">
      </div>
      <div class="field">
        <label>Tittle</label>
        <input type="text" id="tittle">
      </div>   
      <div id="Description">
        <label>Description</label>
        <textarea id="Description-input"></textarea>
      </div>
      <div>
        <label>Work team</label>
        <select id="workTeams">
        </select>
      </div>
      <button id="addButton">Add</button>
    </form>
  </footer>

  <script src='/userPage.js'></script>
</body>
</html>